<!DOCTYPE html>
<html>

<head>

<title>DeepCSAT Prediction</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<!-- chart library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<div class="page">

<div class="card">

<h1>DeepCSAT</h1>

<p class="subtitle">Ecommerce Customer Satisfaction Prediction</p>


<label>Customer Remark</label>
<textarea id="remark"></textarea>


<label>Response Time</label>
<input type="number" id="response_time">


<label>Survey Delay</label>
<input type="number" id="survey_delay">


<label>Issue Hour</label>
<input type="number" id="issue_hour">


<label>Issue Day</label>
<input type="number" id="issue_day">


<label>Issue Month</label>
<input type="number" id="issue_month">


<button onclick="predictCSAT()">Predict CSAT</button>


<h2 id="result"></h2>


<!-- probability chart -->
<canvas id="probChart"></canvas>


</div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>